.report-title {
	font-family: 'gilroybold';
	font-size: 22px;
	margin-top: 5px;
}
.report-title > span {
    font-weight: bold;
}
.page-header, .page-header-space {
    height: 20px;
}

.page-header {
    position: running(page-header);
    display: block;
	height: 100%;
}

.superintendencia_logo{
  	width: 28px;
  	margin-left: -50px;
  	margin-top: -210px;
}

.mark-brand{
	width: 14px;
	height: 140px;
}

.text_footer{
    font-family: 'gilroymedium';
	font-size: 9px;
	line-height: 11.2px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.02em;
	margin-left: -17px;
	margin-top: -20px;
	color: #667A99;
}

.nit_footer{
	font-family: 'gilroymedium';
	font-size: 8px;
	line-height: 11.2px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.02em;
	margin-left: 520px;
	margin-top: 515px;
	position: absolute;
	color: #667A99;
	width: 130px;
	height: 30px;
}

.page-footer .page-number {
    text-align: right;
}

.page-footer .page-number span:before {
    font-family: 'gilroymedium';
    font-size: 9px;
    content: counter(page);
}

.page-footer {
    position: running(page-footer);
    margin-top: -42px;
    padding-top: 42px;
    margin-left: 50px;
    color: #667A99;
}


.logo-brand {
    width: 57px;
}

.logo {
    position: relative;
    display: block;
    margin-top: 29px;
    margin-left: 525px;
}

@page{
    @bottom-left {
        content: element(page-footer);
        vertical-align: top;
    }
    @top-right {
        content: element(page-header);
        vertical-align: bottom;
    }
    size: A4 portrait;
    margin-top: 3.6cm;
    margin-bottom: 3cm;
}


@font-face {
    font-family: 'gilroybold';
    src: url('font/gilroy-bold-webfont.woff2') format('woff2'),
    url('font/gilroy-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'gilroymedium';
    src: url('font/gilroy-medium-webfont.woff2') format('woff2'),
    url('font/gilroy-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'gilroysemibold';
    src: url('font/gilroy-semibold-webfont.woff2') format('woff2'),
    url('font/gilroy-semibold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}