<div th:fragment="footer">
    <div class="superintendencia_logo">
        <img class="mark-brand" src="http://localhost:8104/reporting/api/img/vigilado.png"
             alt="Vigilado superintendencia"/>
    </div>
    <div class="text_footer">
        <p> Para contactar al Defensor del Consumidor Financiero de Lulo, llama a la línea 6108161 en Bogotá,
            escribe un correo a <br>
            defensorialulobank@ustarizabogados.com, o ingresa a https://ustarizabogados.com, en la opción enviar su
            queja al defensor. <br>
            <br>
            Defensor Principal: José Federico Ustáriz González. <br>
            Defensor Suplente: Pablo Valencia Agudelo. <br>
            <br>
            Atención personal: Carrera 11 a No. 96-51 oficina. 203.<br>
            Horario de atención: 8:00 a.m a 6:00 p.m de lunes a viernes.<br>
    </div>
    <div class="nit_footer">
    	<p> Lulo Bank S.A. NIT 901 383 474-9
    </div>
</div>
